# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Logs
*.log

# SQLite
*.db
*.sqlite3